<div class="row">
        <div *ngIf="loading$ | async">
          Loading...
        </div>
        <div *ngIf="noResults$ | async">
          No results
        </div>
        <div class="col-4" *ngFor="let option of options$ | async">
          <div class="card bg-light mb-3">
            <div class="card-header">{{ option.title }}</div>
            <div class="card-body">
              <h5 class="card-title">{{ option.description }}</h5>
              <button (click)="delete(option)" class="btn btn-danger">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      