<div>
  <div *ngIf="loading$ | async">
    Loading...
  </div>
  <div *ngIf="noResults$ | async">
    No results
  </div>
  <nb-list class="company-list">
    <nb-list-item
      class="company-list-item"
      *ngFor="let company of companies$ | async"
    >
      <div class="row">
        <div class="col-9">
          <nb-badge
            position="top left"
            status="success"
            *ngIf="company.isActive"
            class="category-badge"
            text="Active"
          ></nb-badge>
          <h5 class="company-title">
            {{ company.name }} | {{ company.location }}
          </h5>
          <h6>{{ company.industryType }} Company</h6>
          <p>{{ company.noOfEmployees }} Employees</p>
        </div>
        <div class="col-3">
          <ngx-confirm-dialog [company]="company"></ngx-confirm-dialog>
        </div>
      </div>
    </nb-list-item>
  </nb-list>
</div>
