<form [formGroup]="form" (ngSubmit)="submit()" class="row">
  <!-- <div class="row"> -->
  <div class="col-6">
    <div class="form-group">
      <label for="name">Company Name</label>
      <input
        type="string"
        class="form-control"
        id="name"
        formControlName="name"
        [class.is-invalid]="isInvalid('name')"
      />
      <div class="invalid-feedback">
        Please enter a Company Name.
      </div>
    </div>
    <div class="form-group">
      <label for="location">Company Location</label>
      <input
        type="string"
        class="form-control"
        id="location"
        formControlName="location"
        [class.is-invalid]="isInvalid('location')"
      />
      <div class="invalid-feedback">
        Please enter a Company Location.
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="empCount">Please select the number of employees</label><br/>
      <nb-select
        id="empCount"
        placeholder="Select No of employees"
        formControlName="noOfEmployees"
      >
        <nb-option *ngFor="let empCount of empCountList" [value]="empCount">{{
          empCount
        }}</nb-option>
      </nb-select>
      <div class="invalid-feedback">
        Please select a No of employees.
      </div>
    </div>
    <div class="form-group">
      <label for="empCount">Please select Industry Type</label> <br/>
      <nb-select
        id="industryType"
        placeholder="Select IndustryType"
        formControlName="industryType"
      >
        <nb-option *ngFor="let industry of industryList" [value]="industry">{{
          industry
        }}</nb-option>
      </nb-select>
      <div class="invalid-feedback">
        Please select Industry Type.
      </div>
    </div>
    <div class="form-group form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="isActive"
        formControlName="isActive"
      />
      <label class="form-check-label" for="isActive">Active</label>
    </div>

    
  </div>
  <div class="col-12">
    <button
      [disabled]="form.invalid"
      type="submit"
      class="btn btn-primary d-inline"
    >
      Add Company
    </button>
    <span class="ml-2">{{ status$ | async }}</span>
  </div>
</form>
